[include]
	path = .gitconfig.user
[core]
	editor = vi
[push]
	default = simple
[credential]
	helper = cache
[hub]
	protocol = ssh
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[commit]
	gpgsign = true
[gpg]
	program = /usr/bin/gpg2
