[user]
	name = Huu Nguyen
	email = whoshuu@gmail.com
	signingkey = 6F574B182AF4D329
[core]
	editor = vi
[push]
	default = simple
[credential]
	helper = cache
[hub]
	protocol = ssh
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[commit]
	gpgsign = true
